@using Microsoft.AspNetCore.Identity;
@using Nemesys.ViewModels;
@model ReportViewModel
@inject UserManager<IdentityUser> UserManager

@{
    //ViewData["Title"] = Model.Title;
}

<div class="card" style="width: 90%;padding:20px; margin:20px;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Image" />
    <div class="card-body">
        <h3 class="card-title">@Model.Name</h3>
        <p class="small">Reporter: @Model.Author.Name @Model.Author.Surname</p>
        <p class="small">Reporter's Email: @Model.Author.Email</p>
        <p class="small">Reporter's Phone Number: @Model.Author.PhoneNumber</p>
        <p class="card-text">Description: @Model.Description</p>
        <p class="small">Location: @Model.Location</p>
        <p class="small">TypeOfHazard: @Model.TypeOfHazard</p>
        <p class="small">Date of report: @Model.DateOfReport.ToShortDateString()</p>
        <p class="small">Date of spotting: @Model.DateOfSpotting.ToShortDateString()</p>
        @{
            if (@Model.Investigation != null)
            {
                <div class="card-body">
                    <h3 class="card-title">@Model.Investigation.Name</h3>
                    <p class="card-text">Investigation Description: @Model.Investigation.Description</p>
                    <p class="small">Investigator: @Model.Investigation.Author.Name @Model.Investigation.Author.Surname</p>
                    <p class="small">Investigator's Email: @Model.Investigation.Author.Email</p>
                    <p class="small">Investigator's Phone Number: @Model.Investigation.Author.PhoneNumber</p>
                    <form asp-action="DeleteInvestigation" method="post" role="form" enctype="multipart/form-data">
                        <input asp-for="@Model.Investigation.Id" type="hidden" class="form-control" value="@Model.Investigation.Id" />
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="Delete Investigation" />
                        </div>
                    </form>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    if (UserManager.GetUserAsync(User).Result.Id == Model.Author.Id)
                    {
                        <a asp-controller="Nemesys" asp-action="UpdateInvestigation" asp-route-id="@Model.Id" class="btn btn-outline-primary">Update Investigation</a>
                    }
                }
            }
            else
            {
                 <a asp-controller="Nemesys" asp-action="CreateInvestigation" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add Investigation</a>
            }
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (UserManager.GetUserAsync(User).Result.Id == Model.Author.Id)
        {
            <a asp-controller="Nemesys" asp-action="UpdateReport" asp-route-id="@Model.Id" class="btn btn-outline-primary">Update Report</a>
        }
    }
</div>

<a asp-controller="Nemesys" asp-action="Index" class="btn btn-primary">Back to list</a>



