@using Nemesys.ViewModels;
@model ReportListViewModel

@{
    ViewData["Title"] = "Reports";
}


<h2>Showing @Model.TotalEntries report entries</h2>
<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;">
            <img class="card-img-top" src="@report.ImageUrl" alt="Image" />
            <div class="card-body">
                <h3 class="card-title">@report.Name</h3>
                <p class="small">Author: @report.Author.Name @report.Author.Surname</p>
                <p class="small">Status: @report.Status</p>
                <p class="small">UpVotes: @report.UpVotes</p>

                    <a asp-controller="Nemesys" asp-action="Details" asp-route-id="@report.Id" class="btn btn-primary">Details</a>
                    <form asp-action="UpVote" method="post" role="form" enctype="multipart/form-data">
                    <input asp-for="@report.Id" type="hidden" class="form-control" value="@report.Id" />
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="UpVote" />
                        </div>
                    </form>
                    <form asp-action="DeleteReport" method="post" role="form" enctype="multipart/form-data">
                    <input asp-for="@report.Id" type="hidden" class="form-control" value="@report.Id" />
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="Delete Report" />
                        </div>
                    </form>
            </div>
        </div>
    }
</div>
