@using Microsoft.AspNetCore.Identity;
@using Nemesys.ViewModels;
@model ReportListViewModel
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Reports";
}


<h2>Showing @Model.TotalEntries report entries</h2>
<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;">
            @{
                if (@report.ImageUrl != null && @report.ImageUrl != "" && @report.ImageUrl != "/images/nemesys/")
                {
                    <img class="card-img-top" src="@report.ImageUrl" alt="Image" />
                }
            }
           
            <div class="card-body">
                <h3 class="card-title">@report.Name</h3>
                <p class="small">Author: @report.Author.Name @report.Author.Surname</p>
                <p class="small">Status: @report.Status</p>
                <p class="small">UpVotes: @report.UpVotes</p>

                    <a asp-controller="Nemesys" asp-action="Details" asp-route-id="@report.Id" class="btn btn-primary">Details</a>
                @{
                    if (User.Identity.IsAuthenticated && (User.IsInRole("Reporter") || User.IsInRole("Investigator")) && (UserManager.GetUserAsync(User).Result.Id != @report.Author.Id))
                    {
                        <form asp-action="UpVote" method="post" role="form" enctype="multipart/form-data">
                            <input asp-for="@report.Id" type="hidden" class="form-control" value="@report.Id" />
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-primary" value="UpVote" />
                            </div>
                        </form>
                        if (UserManager.GetUserAsync(User).Result.Id == @report.Author.Id)
                        {
                            <form asp-action="DeleteReport" method="post" role="form" enctype="multipart/form-data">
                                <input asp-for="@report.Id" type="hidden" class="form-control" value="@report.Id" />
                                <div class="col-md-5">
                                    <input type="submit" class="btn btn-primary" value="Delete Report" />
                                </div>
                            </form>
                        }
                    }
                }                                   
            </div>
        </div>
    }
</div>
